{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "debug": false
      }
    ]
  ],
  "env": {
    "testing": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread"
  ]
}
